<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logServlet</servlet-name>
        <servlet-class>controler.logServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controler.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBookServlet</servlet-name>
        <servlet-class>controler.addBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>controler.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBook</servlet-name>
        <servlet-class>controler.deleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewBook</servlet-name>
        <servlet-class>controler.viewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBook</servlet-name>
        <servlet-class>controler.updateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>libServlet</servlet-name>
        <servlet-class>controler.libServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentServlet</servlet-name>
        <servlet-class>controler.studentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issueServlet</servlet-name>
        <servlet-class>controler.issueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewServlet</servlet-name>
        <servlet-class>controler.viewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStudentServlet</servlet-name>
        <servlet-class>controler.viewStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnServlet</servlet-name>
        <servlet-class>controler.returnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuServlet</servlet-name>
        <servlet-class>controler.stuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfileServlet</servlet-name>
        <servlet-class>controler.viewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showIssue</servlet-name>
        <servlet-class>controler.showIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFine</servlet-name>
        <servlet-class>controler.viewFine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logServlet</servlet-name>
        <url-pattern>/logServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBookServlet</servlet-name>
        <url-pattern>/addBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBook</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewBook</servlet-name>
        <url-pattern>/viewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBook</servlet-name>
        <url-pattern>/updateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libServlet</servlet-name>
        <url-pattern>/libServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentServlet</servlet-name>
        <url-pattern>/studentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issueServlet</servlet-name>
        <url-pattern>/issueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewServlet</servlet-name>
        <url-pattern>/viewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStudentServlet</servlet-name>
        <url-pattern>/viewStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnServlet</servlet-name>
        <url-pattern>/returnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuServlet</servlet-name>
        <url-pattern>/stuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfileServlet</servlet-name>
        <url-pattern>/viewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showIssue</servlet-name>
        <url-pattern>/showIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFine</servlet-name>
        <url-pattern>/viewFine</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
